.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: gray;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

body {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    background-color: hsl(0, 0%, 95%);
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-size: 3vw;
}

.container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 150px auto 75px;
    overflow: hidden;
}

.container_column {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

.column_card {
    display: grid;
    grid-template-rows: 10% 20% 50% 20%;
    grid-row-gap: 1%;
    padding : 15%;
}

.column_card p {
    font-size: 1.4vw;
}

.column_card button {
    align-self: flex-start;
    background-color: hsl(0, 0%, 95%); /* Green */
    border: 3px solid hsl(0, 0%, 95%);
    border-radius: 20px;
    padding: 5% 15%;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    font-family: 'Lexend Deca', sans-serif;
}

.column_card img {
    height: auto;
    width: 30%;
}

#column_1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: hsl(31, 77%, 52%);
}

#column_1 button{
    color: hsl(31, 77%, 52%);
}

#column_1 button:hover{
    background-color: hsl(31, 77%, 52%);
    border-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

#column_2 {
    background-color: hsl(184, 100%, 22%);
}

#column_2 button{
    color:  hsl(184, 100%, 22%);
}

#column_2 button:hover{
    background-color:  hsl(184, 100%, 22%);
    border-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);;
}


#column_3 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: hsl(179, 100%, 13%);
}

#column_3 button{
    color:hsl(179, 100%, 13%);
}

#column_3 button:hover{
    background-color: hsl(179, 100%, 13%);
    border-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

@media (max-width: 500px) {
    .container {
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 100% 75px;
    }

    .container_column {
        grid-row: inherit;
        grid-column: 2;
        display: flex;
        flex-direction: column;
    }

    .column_card button {
        padding: 5% 15%;
        font-size: 3vw;
        border: 2px solid white;
    }

    .column_card p {
        margin-bottom: 10%;
        font-size: 4vw;
    }

    #column_1 {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    #column_3 {
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }

    h2 {
        font-size: 8vw;
    }


}